<header>  
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <h1 class="navbar" id="maintitle">Direct eSport</h1>

        <div class="collapse navbar-collapse" id="topnavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comment">Directs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/article">Articles</a>
                </li>
                <span sec:authorize="hasAuthority('ADMIN')">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Administration</a>
                    </li>
                </span>
            </ul>
            
            <!-- We are not connected -->
            <span sec:authorize="!isAuthenticated()">
                <a href="/signup" class="btn btn-outline-info mr-2"> <i class="fa fa-user-plus" aria-hidden="true"></i> Inscription</a>
                <a href="/signin" class="btn btn-outline-info mr-2"> <i class="fa fa-sign-in" aria-hidden="true"></i> Connexion</a>
            </span>
            
            
            <!-- We are connected -->
            <span sec:authorize="isAuthenticated()">
                
                <a href="/profil" class="btn btn-outline-info mr-2"> <i class="fa fa-id-card" aria-hidden="true"></i> Profil</a>
                <a href="/logout" class="btn btn-outline-info mr-2"> <i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion</a>

            </span>
        </div>
    </nav>
</header>