<!-- META -->
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- FONTS -->
<link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed" rel="stylesheet"/> 
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/> 
<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet"/> 
<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" type="text/css"/>
<link rel="stylesheet" href="css/page.css" type="text/css"/>