<!DOCTYPE html>
<!--
 *      _____   _                   _            _____                      _   
 *     |  __ \ (_) Website Project | |          / ____|                    | |  
 *     | |  | | _  _ __  ___   ___ | |_    ___ | (___   _ __    ___   _ __ | |_ 
 *     | |  | || || '__|/ _ \ / __|| __|  / _ \ \___ \ | '_ \  / _ \ | '__|| __|
 *     | |__| || || |  |  __/| (__ | |_  |  __/ ____) || |_) || (_) || |   | |_ 
 *     |_____/ |_||_|   \___| \___| \__|  \___||_____/ | .__/  \___/ |_|    \__|
 *                                                     | |                                                                                              
 *  ____Authors____                                    |_| 
 * Dimitri BRUYERE
 * Clément COLIN
 * Christopher JEAMME
 *  _______________
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Direct eSport</title>
    <div th:include="fragments/head"></div>
</head>
<body>
    <div id="app">
        <!-- Menu du haut-->
        <div th:include="fragments/header"></div>

        <section>
            <div sec:authorize="hasAuthority('EDITOR')">
                <a sec:authorize="hasAuthority('EDITOR')" href="/articleCreation" class="btn btn-info btn-lg btn-block">Créer un article</a>
                <hr/>
            </div>

            <h1>Articles</h1>
            <br />
            <div th:each="article : ${articles}">
                <div class="card">
                    <h4 class="card-header" th:text="${article.title}"></h4>
                    <div class="card-body" th:text="${article.text}"></div>
                    <a class="btn btn-info" th:href="'/article?id='+${article.id}">Lire l'article</a>

                </div>
                <hr />
            </div>
        </section>
        <aside></aside>

        <footer></footer>

    </div>

    <div th:include="fragments/minimalScripts"></div>
        <!--Vue.js-->
    <script src="https://unpkg.com/vue"></script>
    <!--The displaying of content script when we press a button-->
    <script src="/js/automaticDisplay.js"></script>
    
</body>
</html>
