<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Direct eSport</title>
        <div th:include="fragments/head"></div>
    </head>
    <body>
        <div id="app">
            <!-- Menu du haut-->
            <div th:include="fragments/header"></div>

            <section>

                <h2 id="eventCreation">Création d'article</h2>
                <form th:action="@{/add_article}" method="POST">
                    <label> Titre de l'article: <input type="text" class="form-control" name="article_title"/></label><br/>
                    <label> Texte : <input type="text" class="form-control" name="article_text"/></label><br/>
                    <label> Image : <input type="file" name="article_image" /></label>
                <input type="submit" class="btn btn-info btn-lg btn-block" value="Créez un article"/>
                </form>
                
            </section>
            <aside></aside>

            <footer></footer>

        </div>
        
        <!-- Carousel des top articles-->
        <div th:include="fragments/endPageScripts"></div>
    </body>
</html>
