<!DOCTYPE html>
<!--
 *      _____   _                   _            _____                      _   
 *     |  __ \ (_) Website Project | |          / ____|                    | |  
 *     | |  | | _  _ __  ___   ___ | |_    ___ | (___   _ __    ___   _ __ | |_ 
 *     | |  | || || '__|/ _ \ / __|| __|  / _ \ \___ \ | '_ \  / _ \ | '__|| __|
 *     | |__| || || |  |  __/| (__ | |_  |  __/ ____) || |_) || (_) || |   | |_ 
 *     |_____/ |_||_|   \___| \___| \__|  \___||_____/ | .__/  \___/ |_|    \__|
 *                                                     | |                                                                                              
 *  ____Authors____                                    |_| 
 * Dimitri BRUYERE
 * Clément COLIN
 * Christopher JEAMME
 *  _______________
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Direct eSport</title>
        <div th:include="fragments/head"></div>
    </head>
    <body>
        <div id="app">
            <!-- Menu du haut-->
            <div th:include="fragments/header"></div>

            <section>

                <h2 id="eventCreation">Création d'article</h2>
                <form th:action="@{/add_article}" method="POST" id="addArt">
                    <label> Titre de l'article: <input type="text" class="form-control" name="article_title"/></label><br/>
                    <label> Texte : <textarea class="form-control" form ="addArt" name="article_text" cols="50" wrap="soft"></textarea></label>
                    <br/>
                    <label> Image : <input class="form-control" type="file" name="article_image" /></label>
                <input type="submit" class="btn btn-info btn-lg btn-block" value="Créez un article"/>
                </form>
                
            </section>
            <aside></aside>

            <footer></footer>

        </div>
        
        <!-- Carousel des top articles-->
        <div th:include="fragments/endPageScripts"></div>
    </body>
</html>
