<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Direct eSport</title>
        <div th:include="fragments/head"></div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    </head>
    <body>
        <div id="app">
            <!-- Menu du haut-->
            <div th:include="fragments/header"></div>
            
            <section>
                <p id="comments">Les commentaires vont normalement bientôt s'afficher ...</p>
                <form href="/add_comment" method="post">
                    IdEvent : <input type="number" id="rid"/>
                    Text :  <input type="text" id="text"/>
                    Author : <input type="text" id="author"/>
                    <input type="submit" value="ajouter Controller"/>
                </form>
                <!--<form>-->
                    <!--<input v-model=""/>-->
                    <button class="btn btn-info" v-on:click="saveComments">Ajoute un commentaire Vue.js</button>
                <!--</form>-->
            </section>

            <footer></footer>

        </div>
        
        <!-- Carousel des top articles-->
        <div th:include="fragments/endPageScripts"></div>
        <script src="/js/vue-websocket.js"></script>
        <script src="/js/vue-resource.min.js"></script>
        <script src="/js/comment.js"></script>
    </body>
</html>
