<!DOCTYPE html>
<!--
 *      _____   _                   _            _____                      _   
 *     |  __ \ (_) Website Project | |          / ____|                    | |  
 *     | |  | | _  _ __  ___   ___ | |_    ___ | (___   _ __    ___   _ __ | |_ 
 *     | |  | || || '__|/ _ \ / __|| __|  / _ \ \___ \ | '_ \  / _ \ | '__|| __|
 *     | |__| || || |  |  __/| (__ | |_  |  __/ ____) || |_) || (_) || |   | |_ 
 *     |_____/ |_||_|   \___| \___| \__|  \___||_____/ | .__/  \___/ |_|    \__|
 *                                                     | |                                                                                              
 *  ____Authors____                                    |_| 
 * Dimitri BRUYERE
 * Clément COLIN
 * Christopher JEAMME
 *  _______________
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Direct eSport</title>
        <div th:include="fragments/head"></div>
        <link rel="stylesheet" href="css/vue-pages.css" type="text/css"/>
    </head>
    <body>
        <div id="app">
            <!-- Menu du haut-->
            <div th:include="fragments/header"></div>
            
            <section>
                
                <a class="btn btn-info btn-lg btn-block" href="/competition">Retour aux compétitions</a>
                <br />
                <h1> Détails de la compétition <span th:value="${competition.name}"></span></h1>
                <br />
                
                <h2> <i class="fa fa-users" aria-hidden="true"></i> Equipes</h2>
                <h3>Actuelles</h3>
                <div th:each="team : ${competition.teams}">
                    <p th:value="${team.teamName}"></p>
                </div>
                <br />
                <span id="teamAdd">
                    <h3>Ajout</h3>
                    <form th:action="@{/add_team_in_competition}" method="POST">
                        <label> Nom de l'équipe : <input type="text" class="form-control" name="teamName"/></label><br/>
                        <input type="hidden" th:value="${id}"></input>
                        <input type="submit" class="btn btn-info" value="Ajout de l'équipe"/>
                    </form>  
                </span>
                
                <br />
                <hr />
                
                <h2> <i class="fa fa-trophy" aria-hidden="true"></i> Matchs de la compétition</h2>
                <br />
                <div th:each="event : ${events}">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"> <i class="fa fa-users" aria-hidden="true"></i> Team <span th:text="${event.team1.teamName}"></span></h4>
                            
                            <h4 class="card-title"> <i class="fa fa-users" aria-hidden="true"></i> Team <span th:text="${event.team2.teamName}"></span></h4>
                            <a class="btn btn-info" th:href="'/comment?id='+${event.id}">Accès à l'evenement</a>
                            <span sec:authorize="hasAuthority('ADMIN')">
                                <form th:action="@{/remove_event}" method="post">
                                    <input type="hidden" name="id" th:value="${event.id}"/>
                                    <input class="btn btn-danger" type="submit" value="Supprimer l'événement"/>
                                </form>
                            </span>
                        </div>
                    </div>
                    <hr />
                </div>
                
                <!-- Event creation part -->
                
                <button class="btn btn-info btn-lg btn-block display" id="creationDisplayButton" v-on:click="displayCreation"> <i class="fa fa-plus" aria-hidden="true"></i> Créer un évenement</button>
                <span id="eventCreation" class="undisplay">
                    <h2>Création d'évenement</h2>
                    <form th:action="@{/add_event}" method="POST">
                        <label> Description : <select class="form-control" name="description">
                            <option value="Match de poule">Match de poule</option>
                            <option value="Quart de finale">Quart de finale</option>
                            <option value="Demi-finale">Demi finale</option>
                            <option value="Petite finale">Petite finale</option>
                            <option value="Finale">Finale</option>
                        </select></label>
                        <label> Equipe 1 : <input type="text" class="form-control" name="team1"/></label><br/>
                        <label> Equipe 2 : <input type="text" class="form-control" name="team2"/></label><br/>
                        <input type="hidden" class="form-control" name="idCompetition" th:value="${id}"/>
                        <label> Type match : <select class="form-control" name="type">
                            <option value="1">BO1</option>
                            <option value="3">BO3</option>
                            <option value="5">BO5</option>
                        </select>
                        </label><br/>
                    <input type="submit" class="btn btn-info btn-lg btn-block" value="Valider"/>
                    </form>  
                </span>
                
                
                <!-- END Event creation part -->
                
            </section>

            <footer></footer>

        </div>
        
        <!-- Carousel des top articles-->
        <div th:include="fragments/endPageScripts"></div>
        <script src="/js/eventMenu.js"></script>
    </body>
</html>
