<!DOCTYPE html>
<!--
 *      _____   _                   _            _____                      _   
 *     |  __ \ (_) Website Project | |          / ____|                    | |  
 *     | |  | | _  _ __  ___   ___ | |_    ___ | (___   _ __    ___   _ __ | |_ 
 *     | |  | || || '__|/ _ \ / __|| __|  / _ \ \___ \ | '_ \  / _ \ | '__|| __|
 *     | |__| || || |  |  __/| (__ | |_  |  __/ ____) || |_) || (_) || |   | |_ 
 *     |_____/ |_||_|   \___| \___| \__|  \___||_____/ | .__/  \___/ |_|    \__|
 *                                                     | |                                                                                              
 *  ____Authors____                                    |_| 
 * Dimitri BRUYERE
 * Clément COLIN
 * Christopher JEAMME
 *  _______________
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Direct eSport</title>
        <div th:include="fragments/head"></div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    </head>
    <body>
        <div id="app">
            <!-- Menu du haut-->
            <div th:include="fragments/header"></div>
            
            <section>
                
                <a class="btn btn-info btn-lg btn-block" href="/event">Retour aux évenements</a>
                <br />
                
                <p id="comments">Les commentaires vont normalement bientôt s'afficher ...</p>
                <form th:action="@{/add_comment}" method="post">
                    
                    <label> Contenu :  <input type="text" name="text"/></label><br /><br />
                    <input type="hidden" name="id" th:value="${id}"/>
                    <input class="btn btn-info" id="update" v-on:click="saveComments" type="submit" value="Ajouter un commentairer"/><br /><br />
                </form>
            </section>

            <footer></footer>

        </div>
        
        <!-- Carousel des top articles-->
        <div th:include="fragments/endPageScripts"></div>
        <script src="/js/vue-websocket.js"></script>
        <script src="/js/vue-resource.min.js"></script>
        <script src="/js/urlParamFunction.js"></script>
    </body>
</html>
