<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Direct eSport</title>
        <div th:include="fragments/head"></div>
    </head>
    <body>
        <div id="app">
            <!-- Menu du haut-->
            <div th:include="fragments/header"></div>

            <section>
                             
                <h1>Evenements actuels</h1>
                <br />
                <div th:each="event : ${events}">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Team <span th:text="${event.team1.teamName}"></span></h4>
                            <p class="card-text" th:text="${event.team1}"></p>
                            
                            <h4 class="card-title">Team <span th:text="${event.team2.teamName}"></span></h4>
                            <p class="card-text" th:text="${event.team2}"></p>
                            <a class="btn btn-info" th:href="'/comment?id='+${event.id}">Accès à l'evenement</a>
                        </div>
                    </div>
                    <hr />
                </div>
                
                <hr />
                <h2 id="eventCreation">Création d'évenement</h2>
                <form th:action="@{/add_event}" method="POST">
                    <label> Description : <input type="text" class="form-control" name="description"/></label><br/>
                    <label> Equipe 1 : <input type="text" class="form-control" name="team1"/></label><br/>
                    <label> Equipe 2 : <input type="text" class="form-control" name="team2"/></label><br/>
                    
                <input type="submit" class="btn btn-info btn-lg btn-block" value="Créez un évenement"/>
                </form>
                
            </section>
            <aside></aside>

            <footer></footer>

        </div>
        
        <!-- Carousel des top articles-->
        <div th:include="fragments/endPageScripts"></div>
    </body>
</html>
