<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Direct eSport</title>
        <div th:include="fragments/head"></div>
    </head>
    <body>
        <!-- Menu du haut-->
        <div th:include="fragments/header"></div>
        
        <section>

            <div class="jumbotron">
                <div class="container">
                    <h1>Compétitions et directs</h1>
                    <p>Vous pouvez accéder aux matchs qui sont en directs grâces aux liens de la barre de navigation mais pour être commentateur vous devrez posséder un compte et demander les droits!</p>
                    <p>Vous avez également accès aux articles, mais aussi au détails des compétitions et des équipes</p>
                </div>
            </div>
            
            <hr/>
            
            <!-- Carousel des top articles-->
            <div th:include="fragments/carousel"></div>

            
        </section>
        
        <!-- Carousel des top articles-->
        <div th:include="fragments/endPageScripts"></div>
    </body>
</html>
