<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Direct eSport</title>
        <div th:include="fragments/head"></div>
    </head>
    <body>
        <!-- Menu du haut-->
        <div th:include="fragments/header"></div>
        
        <section>

            <!-- Carousel des top articles-->
            <div th:include="fragments/carousel"></div>

            <hr/>
            
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">Accès aux directs</h4>
                Vous pouvez accéder aux directs grâces aux liens de la barre de navigation mais pour être commentateur vous devrez vous connecter !
            </div>
            
        </section>
        <aside>
            Aside
        </aside>
        <footer>
            <p><strong>Direct eSport</strong> - Par la RZTeam</p>
        </footer>
        
        <!-- Carousel des top articles-->
        <div th:include="fragments/endPageScripts"></div>
    </body>
</html>
