<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Direct eSport</title>
        <div th:include="fragments/head"></div>
    </head>
    <body>
        <!-- Menu du haut-->
        <div th:include="fragments/header"></div>
        
        <section>

            <div class="jumbotron">
                <div class="container">
                    <h1>Accès aux directs</h1>
                    <p>Vous pouvez accéder aux directs grâces aux liens de la barre de navigation mais pour être commentateur vous devrez posséder un compte et demander les droits!</p>
                </div>
            </div>
            
            <!-- Carousel des top articles-->
            <div th:include="fragments/carousel"></div>

            <hr/>
            
        </section>
        <aside>
            Aside
        </aside>
        <footer>
            <p><strong>Direct eSport</strong> - Par la RZTeam</p>
        </footer>
        
        <!-- Carousel des top articles-->
        <div th:include="fragments/endPageScripts"></div>
    </body>
</html>
