<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Direct eSport</title>
        <div th:include="fragments/head"></div>
    </head>
    <body>
        <!-- Menu du haut-->
        <div th:include="fragments/header"></div>
        
        <section>
            <span sec:authorize="isAuthenticated()" class="navbar-nav">
                <h1>Profil de <span sec:authentication="name"></span></h1>
                <ul>
                    <li><h3>Pseudo: <span sec:authentication="name"></span></h3> </li>
                    <li><h3>Nom: <span th:text="${u.realName}"></span></h3></li>
                    <li><h3>Mail: <span th:text="${u.mail}"></span></h3></li>
                    <li><h3>Changer le mot de passe: </h3></li>
                    <p th:if="${error}!=null" th:text="${error}" class="alert alert-danger"></p>
                    <p th:if="${success}!=null" th:text="${success}" class="alert alert-success"></p>
                    <form th:action="@{/passwordChanging}" method="post">
                        Nouveau mot de passe: <input type="password" id="newPassword" name="newPassword"/><br/>
                        Répétez le mot de passe: <input type="password" id="repeatNewPassword" name="repeatNewPassword"/><br/>
                        <input type="submit" class="btn form-control btn-info" value="Changer de mot de passe"/>
                    </form>
                </ul>
            </span>
        </section>
        <footer></footer>
        
        <!-- Carousel des top articles-->
        <div th:include="fragments/endPageScripts"></div>
    </body>
</html>
