<!DOCTYPE html>
<!--
 *      _____   _                   _            _____                      _   
 *     |  __ \ (_) Website Project | |          / ____|                    | |  
 *     | |  | | _  _ __  ___   ___ | |_    ___ | (___   _ __    ___   _ __ | |_ 
 *     | |  | || || '__|/ _ \ / __|| __|  / _ \ \___ \ | '_ \  / _ \ | '__|| __|
 *     | |__| || || |  |  __/| (__ | |_  |  __/ ____) || |_) || (_) || |   | |_ 
 *     |_____/ |_||_|   \___| \___| \__|  \___||_____/ | .__/  \___/ |_|    \__|
 *                                                     | |                                                                                              
 *  ____Authors____                                    |_| 
 * Dimitri BRUYERE
 * Clément COLIN
 * Christopher JEAMME
 *  _______________
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Direct eSport</title>
    <div th:include="fragments/head"></div>
</head>
<body>
    <!-- Menu du haut-->
    <div th:include="fragments/header"></div>

    <section>

        <p th:if="${error}!=null" th:text="${error}" class="alert alert-danger"></p>
        <div class="connectionBox">

            <h2>Créez une compte</h2>

            <form th:action="@{/register}" method="POST">
                Un pseudo (visible par les autres utilisateurs): <input type="text" class="form-control" name="username"/>
                Votre nom (ça reste entre nous): <input type="text" class="form-control" name="realname"/>
                E-Mail: <input type="text" class="form-control"  name="mail"/>
                Mot de passe: <input type="password" class="form-control"  name="password"/>
                Répétez le mot de passe: <input type="password" class="form-control"  name="password2"/>

                <div class="form-group login-group-checkbox">
                    <label for="reg_agree">
                        <input type="checkbox" class="" id="reg_agree" name="reg_agree"/>
                        Je suis d'accord avec les <a href="#">conditions d'utilisations</a>
                    </label>
                </div>

                <input type="submit" class="btn form-control btn-info" value="Register"/>
            </form>
        </div>
    </section>

    <div th:include="fragments/minimalScripts"></div>
    
</body>
</html>
