<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Direct eSport</title>
        <div th:include="fragments/head"></div>
    </head>
    <body>
        <!-- Menu du haut-->
        <div th:include="fragments/header"></div>
        
        <p th:if="${param.error}">
            <script type="text/javascript">
  alert('Error!');
</script>
        </p>
        <br/> <br/>
        <br/> <br/>
        <br/> <br/>
        
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                Invalid username and password.
            </div>
        </div>
        <form th:action="@{/appLogin}" method="POST"> <br/> <br/>
            User Name : <input type="text" name="app_username"/> <br/><br/>
            Password: <input type="password" name="app_password"/> <br/><br/>
            <input type="submit" value="Login"/>
        </form>
        <section></section>
        <footer></footer>
    </body>
</html>
