<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Direct eSport</title>
    <div th:include="fragments/head"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
        <!-- Menu du haut-->
        <div th:include="fragments/header"></div>

        <section>

           <img th:src="@{'/images/team'+${id}+'.png'}"/><br/>
           <img th:src="@{'/images/logoteam'+${id}+'.png'}"/>
            <br />

            <h1 th:text="${team.teamName}"/>
            <div th:text="${team.history}">
            
                
            </div>

        </section>


        <footer></footer>


    <!-- Carousel des top articles-->
    <div th:include="fragments/endPageScripts"></div>
    <script src="/js/vue-websocket.js"></script>
    <script src="/js/vue-resource.min.js"></script>
    <script src="/js/comment.js"></script>
</body>
</html>