<!DOCTYPE html>
<!--
 *      _____   _                   _            _____                      _   
 *     |  __ \ (_) Website Project | |          / ____|                    | |  
 *     | |  | | _  _ __  ___   ___ | |_    ___ | (___   _ __    ___   _ __ | |_ 
 *     | |  | || || '__|/ _ \ / __|| __|  / _ \ \___ \ | '_ \  / _ \ | '__|| __|
 *     | |__| || || |  |  __/| (__ | |_  |  __/ ____) || |_) || (_) || |   | |_ 
 *     |_____/ |_||_|   \___| \___| \__|  \___||_____/ | .__/  \___/ |_|    \__|
 *                                                     | |                                                                                              
 *  ----Authors----                                    |_| 
 * Dimitri BRUYERE
 * Clément COLIN
 * Christopher JEAMME
 *  ---------------
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Direct eSport</title>
    <div th:include="fragments/head"></div>
</head>
<body>
    <!-- Menu du haut-->
    <div th:include="fragments/header"></div>

    <section>

        <img th:src="@{'/images/team'+${id}+'.png'}"/><br/>
        <img th:src="@{'/images/logoteam'+${id}+'.png'}"/>
        <br />

        <h1 th:text="${team.teamName}"/>
        <div th:text="${team.history}">   
        </div>

        <div th:each="player: ${players}">
            <div class="card">
                <h4 class="card-header"> Nom : <span th:text="${player.playerName}"></span></h4>
                <div class="card-body">
                    <h4 class="card-title"> Role : <span th:text="${player.roles}"></span></h4>
                    <a class="btn btn-info" th:href="'/player?id='+${player.id}">Plus ...</a>
                </div>
            </div>
        </div>
    </section>


    <footer></footer>


    <!-- Carousel des top articles-->
    <div th:include="fragments/endPageScripts"></div>
</body>
</html>